/*-------------------------------------------------------*/
/* Blog
/*-------------------------------------------------------*/
.entry {
  overflow: hidden;
  position: relative;
  margin-bottom: 48px;

  @include bp-lg-down {
    margin-bottom: 24px;
  }

  &__header {
    margin-bottom: 32px;
  }
  
  &__img {
    width: 100%;
  }

  &__body {    
    padding-bottom: 24px;
  }

  &__title {
    font-size: 1.625rem;
    line-height: 1.4;
    margin-bottom: 16px;
  }

  &__excerpt {
    margin-top: 20px;

    p {
      margin-bottom: 0;
    }
  }

  &-card {
    .entry__title {
      font-size: 1.25rem;
    }

    .entry__body {
      padding-bottom: 42px;
      border-bottom: 1px solid $border-color;
    }
  }
}


/*-------------------------------------------------------*/
/* Meta
/*-------------------------------------------------------*/
.entry__meta {
  display: flex;

  &-item {
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 500;
    color: $meta-color;

    &:after {
      content: '-';
      display: inline-block;
      padding: 0 6px;
    }

    &:last-child {

      &:after {
        display: none;
      }
    }
  }

  a {
    &:hover,
    &:focus {
      color: $heading-color;
    }
  }
}

// Category
.entry__category {

  &-item {
    margin-right: 4px;
    background-color: rgba(22, 19, 62, 0.36);
    padding: 2px 10px;
    font-size: 0.875rem;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 5px;
    display: inline-block;
    @include transition( $all );

    &:hover,
    &:focus {
      background-color: $main-color;
      color: #fff;      
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.entry__header {
  .entry__category {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 3;
  }
}


// Meta Author
.entry__meta-author {
  display: flex;
  align-items: center;

  &-url {
    display: inline-flex;
    float: left;
    align-items: center;
  }

  &-img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
}



/*-------------------------------------------------------*/
/* Pagination
/*-------------------------------------------------------*/
.pagination {
  text-align: center;
  margin-bottom: 24px;

  ul {
    list-style: none;
    clear: both;
    @include display-flex;
    justify-content: center;
  }

  span, a {
    font-size: 0.9375rem;
    font-weight: 700;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 38px;
    margin: 0 2px;
    text-align: center;
    color: $text-color;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 50%;
    border: 1px solid $border-color;
    list-style: none;
    @include transition($all);
  }

  a:hover {
    background-color: $main-color;
    border-color: transparent;
    color: #fff;
  }

  .current {
    background-color: $main-color;
    color: #fff;
    border-color: transparent;
  }

  i {
    font-size: 0.9375rem;
  }
}


/*-------------------------------------------------------*/
/* Single Post
/*-------------------------------------------------------*/

/* Page Title
-------------------------------------------------------*/
.single-post__entry-header {
  margin-bottom: 48px;

  .entry__category {
    margin-bottom: 20px;
  }

  .entry__meta {
    margin-top: 24px;
  }

  .entry__meta-item {
    font-size: 1rem;
  }
}

.blog-page-title {
  position: relative;
  text-align: center;
  padding: 180px 0 280px;
  margin-bottom: 0;

  @include bp-lg-down {
    padding: 120px 0 140px;
  }

  @include bp-sm-down {
    padding: 80px 0 140px;
  }

  &__holder {
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
  }

  .entry__category-item {
    background-color: rgba(#fff,.1);

    &:hover,
    &:focus {
      background-color: $main-color;
    }
  }

  &__title {
    color: #fff;
  }

  .entry__meta {
    justify-content: center;    

    a, span {
      color: #fff;
    }

    a:hover {
      text-decoration: underline; 
    }
  }
}


/* Featured Image
-------------------------------------------------------*/
.blog-featured-img {
  width: 100%;

  &-container {
    position: relative;
    z-index: 1;
    margin-bottom: 48px;
  }

  &-container--offset {
    margin-top: -210px;

    @include bp-lg-down {
      margin-top: -80px;
    }
  }
}


/* Article
-------------------------------------------------------*/
.single-post {
  &__entry {
    overflow: visible;
  }
}

.entry__article {
  font-size: 1.125rem;
  line-height: 1.8;

  @include bp-lg-down {
    margin-top: 16px;
  }

  & > p:first-of-type {
    font-size: 1.5rem;
  }

  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6 {
    margin-top: 36px;
    margin-bottom: 20px;
  }

  & > p, ul, ol {
    margin-bottom: 34px;
  }

  a:not(.wp-block-button__link) {
    color: $secondary-color;

    &:hover {
      color: $main-color;
    }
  }

  ol, ul {
    padding-left: 20px;
  }
}

figcaption {
  font-size: 0.9375rem;
  font-style: italic;
  margin-top: 16px;
  color: $meta-color;
  text-align: center;
}

.dropcap {
  float: left;
  color: $heading-color;
  font-weight: 700;
  font-size: 6.875rem;
  line-height: 1;
  padding-right: 20px;
}


/* Entry Article Sidebar Layout
/*-------------------------------------------------------*/
@include bp-lg-up {
  .left-sidebar,
  .right-sidebar {
    .entry__article {
      padding: 0 70px;
    }
  }
}

@include bp-xl-up {
  .left-sidebar,
  .right-sidebar {
    .entry__article {
      padding: 0 100px;
    }
  }
}


/* Entry Share
/*-------------------------------------------------------*/
.entry__article-wrap {
  position: relative;
}

.entry__share { 

  @include bp-lg-up {
    position: absolute !important;
    height: 100%;
    margin-left: -160px;
    margin-bottom: 0;

    &-socials {
      width: 40px;
    }
  }

  @include bp-xl-up {
    margin-left: -192px;
  }

  @media (min-width: 1400px) {
    margin-left: -222px;
  } 
}

// Sidebars Socials Alignment
@include bp-lg-up {
  .left-sidebar,
  .right-sidebar {
    .entry__share {
      margin-left: 0;
    }
  }
}



/* Entry Tags
/*-------------------------------------------------------*/
.entry__tags {
  margin-top: 24px;
  margin-bottom: 56px;
  overflow: hidden;

  &-label {
    color: $heading-color;
    font-weight: 700;
    font-size: 18px;
    display: inline-block;
    margin-right: 4px;
  }
}


/* Author
/*-------------------------------------------------------*/
.entry__author {
  display: flex;
  align-items: center;

  &-url {
    display: inline-flex;
    float: left;
    align-items: center;
  }

  &-img {
    height: 96px;
    width: 96px;
    display: block;
    float: left;
    margin-right: 24px;
    border-radius: 50%;
  }

  &-name {
    margin-bottom: 5px;
    font-size: 1.125rem;
  }
}


/* Comments
/*-------------------------------------------------------*/
.entry__comments-title,
.comment-respond__title {
  font-size: 1.75rem;
  margin-bottom: 32px;
}

.comment {
  list-style: none;

  @include bp-sm-up {
    .children {
      padding-left: 8%;
    }
  }

  &-list > li:first-child > .comment-body {
    border-top: 0;
    padding-top: 0;
  }

  &-body {
    margin-bottom: 24px;
    padding-top: 24px;
    border-top: 1px solid $border-color;
  }

  &-text {
    overflow: hidden;

    p {
      margin-bottom: 10px;
    }
  }

  &-avatar {
    float: left;
    margin-right: 20px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
  }

  &-author {
    font-family: $heading-font;
    font-size: 0.9375rem;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 8px;
  }

  &-metadata {
    display: inline-block;
  }

  &-date,
  &-edit-link {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 0.875rem;
    color: $meta-color;
  }

  &-edit-link {
    margin-left: 5px;
    margin-bottom: 0;
    color: $main-color;
  }

  &-reply {
    color: $heading-color;
    font-weight: 600;

    &:hover {
      color: $main-color;
    }
  }  
}


/* Comment Form
/*-------------------------------------------------------*/
.comment-form {
  p {
    margin: 0;
  }
}

.comment-respond {
  margin-top: 40px;
}


/* Entry Navigation
/*-------------------------------------------------------*/
.entry-navigation {  

  &__row {
    @include display-flex;
  }

  &__col {
    width: 50%;
    display: block;
    overflow: hidden;
    position: relative;

    &:after {
      content: "";
      top: 0;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(22, 19, 62, 0.36);
    }

    &:hover .entry-navigation__img {
      @include transform( scale(1.2) );
    }
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    @include background-img-cover;
    @include transition( transform 0.4s cubic-bezier(0.05, 0.2, 0.1, 1) );
  }

  &__url {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
  }

  &--left {
    float: left;
    text-align: right;
  }

  &--right {    
    float: right;
  }

  &__body {
    padding: 72px 15%;
    position: relative;
    z-index: 1;
  }

  &__label {
    display: inline-block;
    margin-bottom: 5px;
    color: #fff;
    font-size: 0.875rem;
  }

  &__title {
    color: #fff;
  }

  @include bp-sm-down {
    &__row {
      display: block;
    }

    &__col {
      width: 100%;
      float: none;
      text-align: center;
    }
  }
}