/*-------------------------------------------------------*/
/* Grid
/*-------------------------------------------------------*/
.section-wrap {
  padding: 110px 0;
  position: relative;
  background-size: cover;
  background-position: center;

  @include bp-lg-down {
    padding: 80px 0;
  }

  @include bp-lg-up {
    &--pt-220 { padding-top: 220px; }
    &--pt-180 { padding-top: 180px; }
    &--pt-140 { padding-top: 140px; }

    &--pb-220 { padding-bottom: 220px; }
    &--pb-180 { padding-bottom: 180px; }
    &--pb-140 { padding-bottom: 140px; }
  }
}

.container-semi-fluid {
  padding: 0 50px;

  @include bp-md-down {
    padding: 0 20px;
  }
}

.main-container {
  margin: auto;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}


/* Columns Gutters
-------------------------------------------------------*/
.row-16 {
  margin: 0 -8px;
}

.row-16 > [class*="col-"] {
  padding: 0 8px;
}

.row-20 {
  margin: 0 -10px;
}

.row-20 > [class*="col-"] {
  padding: 0 10px;
}


.row-30 {
  margin: 0 -15px;
}

.row-30 > [class*="col-"] {
  padding: 0 15px;
}

.row-60 {
  margin: 0 -30px;
}

.row-60 > [class*="col-"] {
  padding: 0 30px;
}


/* Flexbox
-------------------------------------------------------*/
.flex-parent {
  @include display-flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.flex-child {
  @include flex (1 0 0);
}