/*-------------------------------------------------------*/
/* Typography
/*-------------------------------------------------------*/

ul, ol {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $heading-font;
  margin-top: 0;
  margin-bottom: 10px;
  color: $heading-color;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.01em;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.25rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.375rem; }
h6 { font-size: 1.25rem; }

@include bp-md-down {
  h1 { font-size: 2.5rem; }
  h2 { font-size: 1.75rem; }
  h3 { font-size: 1.625rem; }
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  color: inherit;

  &:hover,
  &:focus {
    color: $main-color;
  }
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: $heading-color;
  font-size: 85%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

@include bp-xl-down { .text-lg-center {text-align: center}; }
@include bp-lg-down { .text-md-center {text-align: center}; }
@include bp-md-down { .text-sm-center {text-align: center}; }
@include bp-sm-down { .text-xs-center {text-align: center}; }


.title-row {
  margin-bottom: 64px;
  position: relative;

  @include bp-lg-down {
    margin-bottom: 32px;
  }

  &--boxed {
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
  }
}

.subtitle {
  font-size: 1.125rem;
  line-height: 1.56;
  font-weight: 500;
  margin-bottom: 0;
}

.highlight {
  color: $main-color;
}

.lead {
  font-size: 1.125rem;
  line-height: 1.666666;
}

address {
  font-style: normal;
  margin-bottom: 0;
}